@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  box-sizing: border-box;
  margin: 0;

}

.App {
  display: flex;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background-color: #f0f1f3;
}

/* Navbar css styles */
/* Navbar css styles */

.navbar{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 1.5rem;
  background-color: aquamarine;
}

.navbar-icon{
  display: flex;
  flex: .05;
  justify-content: space-between;
}

/* sidebar css styles */
/* sidebar css styles */

.sidebar{
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #25283b;
  color: white;
  width: 256px;
  height: 100vh;
  padding: 0 25px;
  font-weight: bold;
  position: relative;
  
}

.sidebar .button{
  
  border-radius: 9px;
  padding: 11px;
  border-left: 3px solid black;
  transition: all 0.3s ease-in-out;
}

.sidebar .button:hover{
  background-color: rgba(255, 255, 255, .1);
  border-left: 3px solid white;
  cursor: pointer;
}

.sidebar .button:active{
  background-color: rgba(255, 255, 255, .1);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar-header__icon {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height:15px ;
  width: 15px;
  padding: 4px;
  color: black;
  cursor: pointer;
}